<%layout("/layouts/boilerplate")%>
<script>
   const mapToken = "<%= process.env.MAP_TOKEN %>";
   const listing = <%-JSON.stringify(list) %>;
  
</script>
<div class="row mt-3">
   <div class="col-8 offset-3">
   
        <h3><b><%=list.title%></b></h3>
      </div>
   <div class="card col-6 offset-3 show-card list-card"> 
      <img src="<%=list.image.url%>" class="card-img-top show-image" alt="listing_image">
      <div class="card-body">
        <p class="card-text">
          <i> owned by <%=list.owner.username%></i></p>
          <p class="card-text"><%=list.description%> </p>
          <p class="card-text"> &#8377;<%=list.price.toLocaleString("en-IN")%> </p>
          <p class="card-text"><%=list.location%></p>
          <p class="card-text"><%=list.country%>
        </p>
      </div>
   </div>
      <br/>
       <% if(currUser && list.owner._id.equals(currUser._id)){%>
      <div class="btns">
            <a href="/listings/<%=list._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
   
               <form method="POST" action="/listings/<%=list._id%>?_method=DELETE">
                  <button class="btn btn-dark offset-5">Delete</button>
               </form>
            </div>
           <%}%>
<!-- //reviews -->

            <div class="col-8 offset-3 mt-3 mb-3">
               <hr/>
               <% if(currUser){%>
               <h4>Leave a Review</h4>
               <form action="/listings/<%=list.id%>/reviews" method="POST" novalidate class="needs-validation">
                  <div class="mb-3 mt-3">
                     <label for="rating" class="form-label">Rating</label>
                     <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range"/>
                  </div>
                  <div class="mb-3 mt-3">
                     <label for="comment" class="form-label">Comments</label>
                     <textarea name="review[comment]" id="comment" cols="38" rows="5"  class="form-control" required ></textarea>
                    <div class="invalid-feedback"> please add some comment for review </div>  
                  </div>
                  <button class="btn btn-outline-dark">submit</button>
               </form>
               <hr/>
               <%}%>
              <% if(list.reviews.length >0) {%>
              <div class="row">
               <p><b>All Reviews</b></p>
              <%for(review of list.reviews){%>
               <div class="card  col-5 ms-3 mb-3 ">
                  <div class="card-body">
                      <h5 class="card-title">@<%=review.author.username%></h5>
                       
                      <!-- <review.author.username%>      -->
                     <p class="card-text"><%= review.comment%></p>
                     <p class="card-text"><%= review.rating%>star</p>
                  </div>
                  <form class="mb-3" method="POST" action="/listings/<%=list._id%> /reviews/<%= review._id%>?_method=DELETE">
                     <button class="btn btn-sm btn-dark">Delete</button>
                  </form>
                 
               </div>
             <% }%>
            </div>
               <%}%>
            </div>
            <div class="col-8 offset-3 mb-3">
               <h3>Where you'll be</h3>
               <div id="map"></div>
            </div>
      </div>
      <script src="/js/map.js"></script>
     